{% extends "base1.html" %}

{% block title %}云灾备{% endblock %}

{% block content %}


 <section class="scrollable wrapper">
   <!-- .breadcrumb -->
      <ul class="breadcrumb">
        <li><a href="/index"><i class="fa fa-home"></i>首页</a></li>
        <li class="active">相关下载</li>
      </ul>
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- END PAGE BAR -->
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <div class="portlet light ">
                                    <div class="portlet-body">
                                             <div class="scroller" style="height: 339px;" data-always-visible="1" data-rail-visible="0">

                                                    <ul class="feeds">
                                                        <li>
                                                            <a target="_blank" href="/download?filename=install_WinX64.7z">
                                                                <div class="col1">
                                                                    <div class="cont">
                                                                        <div class="cont-col1">
                                                                            <div class="label label-sm label-success">
                                                                                <i class="fa fa-arrow-down"></i>
                                                                            </div>
                                                                        </div>
                                                                        <div class="cont-col2">
                                                                            <div class="desc"> install_WinX64.7z

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <!-- END CONTENT BODY -->
            </div>
</section>

{% endblock %}

{% block script %}
        <link href="/static/assets/global/css/components.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="/static/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />


{% endblock %}